* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: #242424;
  text-align: center;
  line-height: 1.25;
}

.section__title {
  font-size: 30px;
}

p {
  line-height: 1.5;
  font-size: 16px;
}

a{
  position: relative;
}

.link__hover-effect:after{
content: "";
position: absolute;
background-color: black;
width: 0%; height: 3px;
border-radius: 3px;
bottom: -3px;
right: 0;
transition: all 300ms ease;
}

.link__hover-effect:hover:after{
  width: 100%;
  left: 0;
}

.link__hover-effect--white:after{
  background-color: white;
}

li {
  list-style-type: none;
}

.flex {
  display: flex;
}
.flex1 {
  flex: 1;
}

.row {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.text--purple {
  color: #3bb908;
  font-weight: 600;
}

a {
  text-decoration: none;
}

/* NAVIGATION BAR */

nav {
  height: 100px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link--list {
  display: flex;
  align-items: center;
  height: 25px;
}
.nav__link--anchor {
  margin: 12px;
  color: #242424;
  text-decoration: none;
  font-weight: 700;
}
.nav__link--anchor--primary {
  background-color: #3bb908;
  color: white;
  padding: 8px 20px;
  border-radius: 50px;
  transition: all 450ms ease;
}
.nav__link--anchor--primary:hover {
  background-color: #2a5c16;
  font-size: 20px;
}
.personal__logo {
  margin: 0px 12px;
  font-size: 24px;
  font-weight: 700;
  color: #3bb908;
}

/*ABOUT ME*/

#about-me {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.about-me__info {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.about-me__info--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.about-me__picture--mask {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
  margin-bottom: 28px;
}

.about-me__picture {
  width: 100%;
  transform: scale(1.2);
}

.about-me__info--title {
  margin-bottom: 12px;
}
.about-me__info--para {
  margin-bottom: 28px;
}

.about-me__links--specific {
  font-size: 18px;
  padding: 12px;
  color: #3bb908;
}

.fa-instagram {
  transition: all 300ms;
}

.fa-instagram:hover {
  color: #2a5c16;
  font-size: 22px;
}
.fa-github{
  transition: all 300ms;
}

.fa-github:hover {
  color: #2a5c16;
  font-size: 22px;
}

.fa-github--p{
  transition: all 300ms;
}

.fa-github--p:hover {
  color: #ffffff;
  font-size: 22px;
}

.fa-file-pdf {
  transition: all 300ms ease;
}

.fa-file-pdf:hover {
  color: #2a5c16;
  font-size: 22px;
}

.about-me__img--container {
  flex: 1;
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.about-me__img {
  width: 100%;
}

/* LANGUAGES */

#languages {
  background-color: #e2e2e2;
  border-radius: 30px;
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.language__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.language {
  width: 25%;
  margin: 0 12px;
  display: flex;
  justify-content: center;
  position: relative;
  transition: all 300ms ease;
}

.language__img--container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 16px;
}

.language__img {
  width: 100%;
  max-width: 100px;
  margin-bottom: 8px;
}

.language:hover {
  transform: scale(0.9);
  filter: brightness(0.85);
}

.language__name {
  position: absolute;
  bottom: 0;
  transform: scale(0);
}

.language:hover .language__name {
  transform: scale(1);
  color: #858585;
  font-size: 20px;
}

/*PROJECTS*/

.project__list {
  margin-top: 32px;
}

.project{
  margin: 0 0 130px 0;
}

.project:last-child{
  margin: 0 0 40px 0;
}

.project__img {
  width: 100%;
  transition: 500ms ease-in-out;
}

.project__wrapper {
  display: flex;
  box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  overflow: hidden;
  position: relative;
}

.project__wrapper:before {
content: "";
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
background-color: #1c1d25;
opacity: 0;
transition: opacity 500ms ease ;
z-index: 2;

}

.project:hover .project__wrapper:before {
  opacity: 0.6;
}

.project:hover .project__img{
  transform: scale(1.07);
  filter: blur(2px);
}
.project__description{
  position: absolute;
  top: 50%;
  left: 90px;
  max-width: 550px;
  z-index: 3;
  opacity: 0;
transition: all 500ms;
}

.project:hover .project__description{
  opacity: 1;
  transform: translateY(-50%);
}

.project__description--title,
.project__description-sub-title,
.project__description--link,
.project__description--para{
  text-align: left;
  color: white;
}
.project__description--title{
  font-size: 36px;
}

.project__description-sub-title{
font-size: 20px;
}
.project__description--para{
  font-size: 14px;
  margin: 16px 0;
}

.project__description--link{
  font-size: 20px;
}

/* FOOTER*/

footer{
  background-color: #242424;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.footer__logo--img{
  width: 70px;height: 70px;
}
.footer__row{
  height: 100%;
  padding: 5% 0 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__links{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.footer__social--list{
  padding: 8px 16px;
}

.footer__social--link{
  color: white;
}

.footer__figure{
  display: flex;justify-content: center;
}

.footer__copyright{
  color: rgb(153, 153, 153);
  font-size: 12px;
}
.footer__copyright{
  display: flex;justify-content: center;
  margin-top: 50px;
}

.footer__logo--popper{
  position: absolute;
  color: white;
  right: 0%;
  top: 30px;
  font-weight: 700;
  font-size: 14px;
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.footer__anchor{
  position: relative;
  margin-bottom: 24px;
}

.footer__anchor:hover .footer__logo--popper{
  transform: translateX(50px);
  opacity: 1;
}
